<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li><%= sort_link @search, :wage_lower_bound, "薪资下限排序" %></li>
        <li><%= sort_link @search, :wage_upper_bound, "薪资上限排序" %></li>
        <li><%= sort_link @search, :created_at, "创建时间顺序" %></li>
    </ul>
</div>

<table class="table table-boldered">
  <thead>
      <tr>
          <td>招聘职位</td>
          <td>收藏</td>
          <td>点赞</td>
          <td>城市</td>
          <td>薪资下限</td>
          <td>薪资上限</td>
          <td>刊登时间</td>
          <td>创建者</td>
      </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <% if current_user && current_user.is_member_of?(job) %>
            <%= link_to("", outbox_job_path(job), method: :post, class: "fa fa-folder") %>
      <% else %>
            <%= link_to("", inbox_job_path(job), method: :post, class: "fa fa-folder-o") %>
      <% end %>
    </td>
    <td>
      <%= job.voters.count %>
      <% if current_user && current_user.is_voter_of?(job) %>
        <%= link_to("", downvote_job_path(job), method: :post, class: "fa fa-heart", style: "color:red;") %>
          <% else %>
        <%= link_to("", upvote_job_path(job), method: :post, class: "fa fa-heart-o") %>
      <% end %>
    </td>

    </td>
    <td><%= job.workplace.name %></td>
    <td><%= job.wage_lower_bound %></td>
    <td><%= job.wage_upper_bound %></td>
    <td><%= job.created_at %></td>
    <td><%= job.user.email %></td>
  </tr>
  <% end %>
 </tbody>
</table>

<div class="text-center">
  <%= will_paginate @jobs %>
</div>
