<h1> <%= @job.title %> </h1>

<span class="pull-left">
  <% if current_user && current_user.is_member_of?(@job) %>
        <%= link_to("", outbox_job_path(@job), method: :post, class: "fa fa-folder fa-3x") %>
  <% else %>
        <%= link_to("", inbox_job_path(@job), method: :post, class: "fa fa-folder-o fa-3x") %>
  <% end %>

  <%= @job.voters.count %>
  <% if current_user && current_user.is_voter_of?(@job) %>
    <%= link_to("", downvote_job_path(@job), method: :post, class: "fa fa-heart fa-2x", style: "color:red;") %>
      <% else %>
    <%= link_to("", upvote_job_path(@job), method: :post, class: "fa fa-heart-o fa-2x") %>
  <% end %>
</span>
<p>
  <%= @job.workplace.name %>
  <%= simple_format(@job.description) %>
</p>

<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
</div>
