<div id="myCarousel" >
      <!-- Indicators -->
      <div class="carousel-inner">
          <img src="<%= image_url 'banner.png' %>">
          <div class="container">
            <div class="carousel-caption">
              <h1>你的未来，由你手绘。</h1>

<!-- hot jobs -->
<div class="row">
  <!-- <div class="col-md-3 text-center">
    <a href="#">
      <img class="img-circle" src="<%= image_url '' %>" alt="北京">
    </a>
 </div> -->

 <div class="col-md-1 text-center">
</div>

<div class="col-md-9">
 <table class="table table-hover">
   <thead>
       <tr>
           <td class="col-md-1">热招职位</td>
           <td class="col-md-1">城市</td>
           <td class="col-md-1">薪资下限</td>
           <td class="col-md-1">薪资上限</td>
       </tr>
   </thead>
   <tbody>
   <% @bj.each do |job| %>
   <tr>
     <td><%= link_to(job.title, job_path(job)) %></td>
     <td><%= job.workplace.name %></td>
     <td><%= job.wage_lower_bound %></td>
     <td><%= job.wage_upper_bound %></td>
   </tr>
   <% end %>
   </tbody>
 </table>

<div class="pull-right">
  <%= will_paginate @bj %>
</div>

</div>
</div>
<!-- beijing -->


<!-- hot jobs -->
              <p><a class="btn btn-lg btn-danger" href="/jobs" role="button">查看全部工作</a></p>
            </div>
        </div>
      </div>
    </div>

<div class="city-item">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <h1 style="padding-top: 20px;">热门城市招聘</h1>
    </div>

    <!-- beijing -->
    <div class="row" style="margin-top:50px">
      <div class="col-md-3 text-center">
        <a href="#">
          <img class="img-circle" src="<%= image_url 'beijing.jpg' %>" alt="北京">
        </a>
     </div>

    <div class="col-md-9">
     <table class="table table-hover">
       <thead>
           <tr>
               <td class="col-md-1">招聘职位</td>
               <td class="col-md-1">城市</td>
               <td class="col-md-1">薪资下限</td>
               <td class="col-md-1">薪资上限</td>
               <td class="col-md-1">刊登时间</td>
           </tr>
       </thead>
       <tbody>
       <% @bj.each do |job| %>
       <tr>
         <td><%= link_to(job.title, job_path(job)) %></td>
         <td><%= job.workplace.name %></td>
         <td><%= job.wage_lower_bound %></td>
         <td><%= job.wage_upper_bound %></td>
         <td><%= job.created_at %></td>
       </tr>
       <% end %>
       </tbody>
     </table>

    <div class="pull-right">
      <%= will_paginate @bj %>
    </div>

   </div>
  </div>
  <!-- beijing -->


  <!-- shenzhen -->
  <div class="row" style="margin-top:50px">
    <div class="col-md-3 text-center">
      <a href="#">
        <img class="img-circle" src="<%= image_url 'shenzhen.jpg' %>" alt="深圳">
      </a>
   </div>

  <div class="col-md-9">
    <table class="table table-hover">
      <thead>
         <tr>
             <td>招聘职位</td>
             <td>城市</td>
             <td>薪资下限</td>
             <td>薪资上限</td>
             <td>刊登时间</td>
         </tr>
     </thead>
     <tbody>
     <% @sz.each do |job| %>
           <tr>
             <td><%= link_to(job.title, job_path(job)) %></td>
             <td><%= job.workplace.name %></td>
             <td><%= job.wage_lower_bound %></td>
             <td><%= job.wage_upper_bound %></td>
             <td><%= job.created_at %></td>
           </tr>
           <% end %>
    </tbody>
   </table>

       <div class="pull-right">
         <%= will_paginate @sz %>
       </div>

  </div>
 </div>
<!-- shenzhen -->


<!-- shanghai -->
<div class="row" style="margin-top:50px">
  <div class="col-md-3 text-center">
    <a href="#">
      <img class="img-circle" src="<%= image_url 'shanghai.jpg' %>" alt="上海">
    </a>
 </div>

<div class="col-md-9">
  <table class="table table-hover">
    <thead>
       <tr>
           <td>招聘职位</td>
           <td>城市</td>
           <td>薪资下限</td>
           <td>薪资上限</td>
           <td>刊登时间</td>
       </tr>
   </thead>
   <tbody>
   <% @sh.each do |job| %>
         <tr>
           <td><%= link_to(job.title, job_path(job)) %></td>
           <td><%= job.workplace.name %></td>
           <td><%= job.wage_lower_bound %></td>
           <td><%= job.wage_upper_bound %></td>
           <td><%= job.created_at %></td>
         </tr>
         <% end %>
  </tbody>
 </table>

     <div class="pull-right">
       <%= will_paginate @sh %>
     </div>

</div>
</div>
<!-- shanghai -->



<!-- hangzhou -->
<div class="row" style="margin-top:50px">
  <div class="col-md-3 text-center">
    <a href="#">
      <img class="img-circle" src="<%= image_url 'hangzhou.jpg' %>" alt="杭州">
    </a>
 </div>

<div class="col-md-9">
  <table class="table table-hover">
    <thead>
       <tr>
           <td>招聘职位</td>
           <td>城市</td>
           <td>薪资下限</td>
           <td>薪资上限</td>
           <td>刊登时间</td>
       </tr>
   </thead>
   <tbody>
   <% @hz.each do |job| %>
         <tr>
           <td><%= link_to(job.title, job_path(job)) %></td>
           <td><%= job.workplace.name %></td>
           <td><%= job.wage_lower_bound %></td>
           <td><%= job.wage_upper_bound %></td>
           <td><%= job.created_at %></td>
         </tr>
         <% end %>
  </tbody>
 </table>

     <div class="pull-right">
       <%= will_paginate @hz %>
     </div>

</div>
</div>
<!-- hangzhou -->


 </div>
</div>
