<div id="myCarousel" >
      <!-- Indicators -->
      <div class="carousel-inner">
          <img src="<%= image_url 'banner.png' %>">
          <div class="container">
            <div class="carousel-caption">
              <h1>你的未来，由你手绘。</h1>

              <!-- hot jobs -->
              <%= render "hotjobs" %>
              <!-- hot jobs -->
              <p><a class="btn btn-lg btn-danger" href="/jobs" role="button">查看全部工作</a></p>
           </div>
        </div>
     </div>
</div>

<div class="city-item">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <h1 style="padding: 20px 0px;">热门城市招聘</h1>
    </div>

    <!-- beijing -->
    <%= render "beijing" %>
    <!-- beijing -->

    <!-- shenzhen -->
    <%= render "shenzhen" %>
    <!-- shenzhen -->

    <!-- shanghai -->
    <%= render "shanghai" %>
    <!-- shanghai -->

    <!-- hangzhou -->
    <%= render "hangzhou" %>
    <!-- hangzhou -->
  </div>
</div>
