<div id="myCarousel" >
      <!-- Indicators -->
      <div class="carousel-inner">
          <img src="<%= image_url 'banner.jpg' %>">
          <div class="container">
            <div class="carousel-caption">

              <!-- hot jobs -->
              <%= render "hotjobs" %>
              <!-- hot jobs -->
              <p class="pull-right"><a class="btn btn-lg btn-danger" href="/jobs" role="button">查看全部工作</a></p>
           </div>

        </div>
     </div>
</div>

<div data-retina="1281x688" id="multiscreen-cont">
          <div class="container">
            <h2 class="gwd">
              One idea. Any screen.
            </h2>
            <p>
              It doesn’t matter how brilliant your work is if people can’t see it. Now everything
              you create is accessible on any screen – desktop, tablet or mobile – without
              compatibility issues.
            </p>
          </div>
          <div id="multi-screen-mobile">
            <img alt="Mobile" src="/webdesigner/images/animation-fallbacks/home/en/mobile.png">
          </div>
          <div id="multi-screen-tablet">
            <img alt="Tablet" src="/webdesigner/images/animation-fallbacks/home/en/tablet.png">
          </div>
        </div>

<div class="city-item">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <h1 style="padding: 30px 0px 10px 0px;">热门城市招聘</h1>
    </div>

  <div class="row texi-center">
    <div class="col-xs-3 text-center">
      <a href="/jobs?workplace=北京">
        <img class="img-circle" src="<%= image_url 'beijing.jpg' %>" alt="北京">
      </a>
    </div>


    <div class="col-xs-3 text-center">
      <a href="/jobs?workplace=深圳">
        <img class="img-circle" src="<%= image_url 'shenzhen.jpg' %>" alt="深圳">
      </a>
   </div>

   <div class="col-xs-3 text-center">
     <a href="/jobs?workplace=上海">
       <img class="img-circle" src="<%= image_url 'shanghai.jpg' %>" alt="上海">
     </a>
  </div>

  <div class="col-xs-3 text-center">
      <a href="/jobs?workplace=杭州">
        <img class="img-circle" src="<%= image_url 'hangzhou.jpg' %>" alt="杭州">
      </a>
   </div>
 </div>




  </div>
</div>
