<h1> Edit a job </h1>

<%= simple_form_for [:admin, @job] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :wage_lower_bound, :label => "起薪" %>
<%= f.input :wage_upper_bound, :label => "挑战薪资" %>
<%= f.input :company, :label => "公司名称" %>
<%= f.input :phone, :label => "电话" %>
<%= f.input :address, :label => "地址" %>
<%= f.input :source, :label => "信息来源" %>
<%= f.input :contact_email, :label => "收简历的邮箱"  %>
<%= f.select :workplace_id, @workplaces  %>
<%= f.input :is_hidden %>
<%= f.submit "Submit" %>
<% end %>
